<%= form_for(@idea) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title,        placeholder: "Title" %>
    <%= f.text_area  :description,  placeholder: "Please explain your idea" %>
    <%= f.text_field :suggested_by, placeholder: "Your nyu.edu email" %>
  </div>
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>