<li id="<%= idea.id %>">
  <span class="title"><%= idea.title %></span>
  <span class="description"><%= wrap(idea.description) %></span>
  <% if !idea.event_info.blank? %>
    <span class="event_date">
      Planned! <%= wrap(idea.event_info) %>
    </span>
  <% end %>
  <% if !idea.event_url.blank? %>
    <%= link_to "Doodle", idea.event_url, class: "event_url" %>
  <% end %>
  <span class="timestamp">
    Suggested <%= time_ago_in_words(idea.created_at) %> ago
    by <%= idea.suggested_by[0..5] %>
  </span>
  <% if signed_in? && current_user.admin? %>
    <div class="btn-group">
      <div class="btn-group">
        <%= link_to "Edit", edit_idea_path(idea), class: "btn btn-warning" %>
        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Edit Status</a>
            <ul class="dropdown-menu">
              <li><a href="#">Approved</a></li>
              <li><a href="#">Pending</a></li>
              <li><a href="#">Denied</a></li>
            </ul>
          </li>
          <li><%= link_to "Delete", idea, method: :delete,
                                data: { confirm: "You sure?" } %></li>
        </ul>
      </div>
    </div>
  <% end %>
</li>