<li id="<%= idea.id %>">
  <span class="title"><%= idea.title %></span>
  <span class="description"><%= wrap(idea.description) %></span>
  <span class="timestamp">
    Suggested <%= time_ago_in_words(idea.created_at) %> ago
    by <%= idea.suggested_by %>
  </span>
</li>